<h1>Links</h1>
<ul>
	<li>
		<a href="http://cmsc6950.slack.com">Slack</a>
	</li>
	<li>
		<a href="http://datacamp.com">DataCamp</a>
	</li>
	<li>
		<a href="http://conda.pydata.org/miniconda.html">Miniconda</a>
	</li>
	<li>
		<a href="http://www.ace-net.ca/">ACENET</a>
	</li>
	<li>Course text: 
		<a href="http://physics.codes">Effective Computation in Physics</a>
	</li>
	<ul>
		<li>
			<a href="http://qe2a-proxy.mun.ca/Login?url=https://ebookcentral.proquest.com/lib/MUN/detail.action?docID=3564547">Book in MUN eLibrary</a>
		</li>
	</ul>
	<li>
		<a href="https://www.scipy-lectures.org/">Scipy Lectures</a>
	</li>
</ul>
